@media print {
  .print-bg {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #2c56b2 !important;
    color: #fff !important;
  }

  .print-bepari {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #ef0d0d !important;
    color: #fff !important;
  }

  .vertical-text {
    writing-mode: vertical-rl;
    margin: 4px;
  }

  .b-bg{
     -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
     background-color: #e40808 !important;
    color: #fff !important;
  }
  
  .sale-bg {
-webkit-print-color-adjust: exact;
    print-color-adjust: exact;
     background-color: #fff !important;
    color: #000 !important;
  }
}