@media print {
  body {
    margin-top: 4px;
    padding: 0;
  }

  .force-single-page {
    height: 100vh;
    overflow: hidden;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  .print-hidden {
    display: none !important;
  }
}


  .vertical-text {
    writing-mode: vertical-rl;
    margin: 4px;
  }

  .vertical-text-up {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
